#card-button {
    margin-inline-start: auto;
}
#card_title {
    margin-bottom: 270px;
}
#btn {
    margin-left: 159px;
    margin-bottom: auto;
    margin-top: 20px;
}
@import '../../node_modules/bootstrap/scss/bootstrap';